* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f1eb;
}

#thank-you-head {
  padding: 10px 15px;
  background: #fff;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 5.5vw;
  margin-top: 5px;
  color: #1a1c23;
  animation: fadeInDown 1s ease-out forwards;
}

.heading h2 span {
  font-weight: 600;
  color: #5acf17;
}

.heading #downloadP {
  margin-top: -8px;
  font-size: 3vw;
  animation: slideInUp 1s ease-out forwards;
}

.heading #introD {
  font-size: 20px;
  animation: fadeIn 1s ease-out forwards;
}

@media screen and (min-width: 601px) {
  .heading #downloadP {
    font-size: 16px;
  }
  .heading h2 {
    font-size: 48px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#thank-you-photo {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.carousel-container .carousel {
  display: flex;
  overflow: hidden;
  width: 320px;
}

.carousel-container .carousel-slide {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-container .carousel-slide img,
.carousel-container .carousel-slide video {
  width: 100%;
  height: auto;
  height: 620px;
  width: 285px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 15px;
}
.carousel-container .carousel-slide img {
  -webkit-user-drag: none;
  user-select: none;
}
.carousel {
  background: url("../images/resources/mobile-png-frame.png");
  object-fit: cover;
  height: 650px;
  object-position: center;
  width: 100%;
}

.carousel-container .prev,
.carousel-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: -100px;
}

.next {
  right: -100px;
}

.step-count {
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background: #dc3545;
  color: #fff;
}
